<?xml version="1.0" encoding="iso-8859-1"?>
<Config>
	<Database>
		<Type>mysql</Type>
		<Host>localhost</Host>
		<Port>3306</Port>
		<User>root</User>
		<Password></Password>
		<Name>test</Name>
		<Persist>true</Persist>
	</Database>
	
	<Debug>
		<Debug>true</Debug>
	</Debug>
	
	<Software>
		<Name>NoraCMF</Name>
		<Version>0.0.1-beta</Version>
		<Developersite>http://noracmf.berlios.de</Developersite>
		<Installed></Installed>
	</Software>
	
	<Cache>
		<Typ>file</Typ>
		<Dir></Dir>
		<Id></Id>
	</Cache>
</Config>




